@import '~normalize.css';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  // full height growing
  height: 100%;

  & > div {
    display: flex;
    flex-direction: column;

    // full height growing
    height: 100%;
    background-color: #eee;
  }
}

body {
  color: $text-color;
  background-color: white;

  // fonts reboot
  font-family: $fonts-reboot;

  // basic font
  font-family: $font-primary;
}
